@font-face {
    font-family: 'a_braggastripregular';
    src: url('../assets/fonts/a_braggastrip_fr.allfont.net-webfont.woff2') format('woff2'),
         url('../assets/fonts/a_braggastrip_fr.allfont.net-webfont.woff') format('woff'),
         url('../assets/fonts/a_braggastrip_[fr.allfont.net].ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.page-content {
    float: right;
    width: calc(100% - 81px);
}

.main-content {
    padding-top: 100px;
}

@media screen and (max-width: 1024px) {
    .page-content {
        float: unset;
        width: 100%;
    }
}

h1 {
    font-size: 20rem;
    margin-top: 0;
    margin-left: 0;
    padding-top: 40px;
    color: rgba(255, 255, 255, 0.08);
}

.home1 {
    width: calc(100% - 81px);
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

.home1:hover {
    opacity: .3;
    transition-property: opacity;
    transition-duration: 1s;
}

.anmo {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}