
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    font-family: 'Inter', sans-serif;
}

.main-container {
    color: #ffffff;
}